/* ==========================================================================
   Boxes and Buttons
   ========================================================================== */

.box {
  display:inline-block;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding:20px;
  border-radius:4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
